<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <!-- Block search indexing with meta tags -->
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
        <!-- Fix for intranet -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Favicons - https://realfavicongenerator.net -->
        <!-- CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/jquery-ui.min.css">
        <!-- JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/script.js"></script>
        <!-- Apple-Specific Meta Tag Keys for web app -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- Stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <title>Title</title>
        <meta name="description" content="Description of this website"/>
    </head>
    
    <body>
        <header>
            <div>
            </div>
        </header>
        
        <section>
            <div>
                <input id="amount" name="myTestValue" type="text"/>
                <div id="slider-range-max"></div>
                <div id="test"></div>
            </div>
        </section>
        
        <footer>
            <div>
            </div>
        </footer>
    </body>
</html>